@page
@model LoginModel
@{
    ViewData["Title"] = "CHGPA Admin Login";
}
    <div class="layout">
        <h2>@ViewData["Title"]</h2>
        <form method="post">
            <div class="input-form">
                <div class="input-container">
                    <span>Email:</span><input asp-for="Email" />
                </div>
                <div class="input-container">
                    <span>Password:</span><input asp-for="Password" />
                </div>
                <div class="submit-button">
                    <input type="submit" value="Login" />
                </div>
                <span class="validation-error">@Model.Message</span>
            </div>
        </form>
    </div>