@page
@model LoginModel
    <div>
        <h2>Login to Chgpa Member Admin</h2>
        <form method="post">
            <table>
                <tr>
                    <td>Email:</td><td><input asp-for="Email" /></td>
                </tr>
                <tr>
                    <td>Password:</td><td><input asp-for="Password" type="password" /></td>
                </tr>
            </table>
            <input type="submit" value="Login" />
            <br/>
            <span class="red">@Model.Message</span>
        </form>
    </div>