@page
@model IndexModel
<style>
    .green {
        color: green;
    }
    .red {
        color: red;
    }
</style>
    <div>
        <h2>Chgpa Member Search</h2>
        <form method="post">
            <table>
                <tr>
                    <td>Ushpa #:</td><td><input asp-for="Ushpa" type="number" /></td>
                    <td><span class="green">@Model.UshpaResult</span></td>
                </tr>
                <tr>
                   <td>or</td>
                </tr>
                <tr>
                    <td>Email:</td><td><input asp-for="Email" type="email" /></td>
                    <td><span class="green">@Model.EmailResult</span></td>
                </tr>
            </table>
            <input type="submit" value="Search" />
            <br/>
            <span class="red">@Model.Message</span>
        </form>
    </div>